n8n/Get_JSON_Miquel_regals.json
{
  "name": "Get JSON Miquel regals",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -40,
        200
      ]
    },
    {
      "parameters": {
        "sheetId": "1AX81qelyMWHehM9PqOi6VZqv3YMz0tm7XGVi0ZvLIts",
        "range": "A:H",
        "dataStartRow": 3,
        "keyRow": 2,
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        580,
        500
      ],
      "credentials": {
        "googleApi": {
          "id": "2",
          "name": "Lista bebe sheet"
        }
      }
    },
    {
      "parameters": {
        "path": "miquel-list",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        400,
        500
      ],
      "webhookId": "930ff0cb-ff9d-4dc2-87f3-f26bc65e6d85"
    },
    {
      "parameters": {
        "functionCode": "return items.filter((item) => item.json.item != \"Ítem\" && parseInt(item.json.id) < 1000);"
      },
      "name": "Remove Titles",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        740,
        500
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        180
      ]
    },
    {
      "parameters": {
        "functionCode": "const data = items.map((value) => value.json);\n\nreturn [{json: data}];"
      },
      "name": "To Return JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        920,
        500
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "data",
        "key": "lista-bebe-sheet",
        "options": {}
      },
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        220,
        200
      ],
      "credentials": {
        "redis": {
          "id": "3",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [],
          "string": [],
          "boolean": [
            {
              "value1": "={{$json.data == null}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        420,
        200
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "lista-bebe-sheet",
        "value": "={{JSON.stringify($json)}}",
        "keyType": "string"
      },
      "name": "Persist Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1100,
        620
      ],
      "credentials": {
        "redis": {
          "id": "3",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [{json: JSON.parse(items[0].json.data)}];"
      },
      "name": "Parse From Redis",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        740,
        80
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Remove Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Titles": {
      "main": [
        [
          {
            "node": "To Return JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Return JSON": {
      "main": [
        [
          {
            "node": "Persist Redis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Parse From Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse From Redis": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": 1
}